/* ===== ROOT (ONLY GLOBALS) ===== */
:root {
  --blue: rgb(21, 82, 255);
  font-family: "interstate-mono", monospace;
  font-size:1rem;
}




/* ===== BASE ===== */

html,
body {
    margin:0;
    padding: 0;
    height: 100vh;
    grid-template-rows: auto 1fr;
    display: grid;
}

main {
    height: 100%;
    display: grid;
}

.container,
.about-container, 
.results-container {
  width:100%;
  height:100%;
    grid-template-rows: repeat(8, 1fr);
    display: grid;
    grid-template-columns: 1fr 2fr 3fr repeat(2, 2fr);
    
}

.results-container {
    grid-template-columns: 1fr 2fr 3fr 0.5fr 3fr 0.5fr;
    grid-template-rows: repeat(8, 1fr);
}

.about-container {

    grid-template-columns: 2fr 4fr 2fr 2fr;
    grid-template-rows: 2fr 4fr 1fr 4fr;
}


.header,
.header-alt {
    height: auto;
    grid-template-columns: 1fr 2fr 4fr 1fr 2fr;
    display: grid;
    border-bottom:2px solid black;
}

.header-alt {
    grid-template-columns: 1fr 2fr 4fr 1fr 2fr;
}

.title,
.subtitle {
    padding-left: 0.5rem;
}

.title {
    font-weight: bold;
    font-size:1.8rem;
    margin-top: 6rem;
    margin-left: 0.5rem;
}

.subtitle {
    padding-top: 0.5rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.about-title,
.about-subtitle {

    font-size: 6rem;
    color:white;
    line-height: 6rem;

}

.about-subtitle {
    font-size: 2.5rem;
    line-height: 4rem;
}

/*
.breadcrumb {
    list-style: none;
    font-size: 0.8rem;
    line-height: 1.3rem;
}
    */

.col-2,
.col-2-2,
.col-2-3,
.border-right,
.border-right-alt,
.border-right-alt-alt {
    border-right:2px solid black;
    
}

.border-right-alt {
    grid-row: 7 / 9;
    grid-column-start: 2;
    
}

.border-right-alt-alt {
    grid-column-start: 3;
    
}

.col-2-2,
.middle-format,
.col-2-3 {
    border-bottom: 2px solid black;
 
}

.middle-format {
    font-size: 1.3rem;
    padding-top: 1.6rem;
}

.col-2-3 {
    grid-template-rows: repeat(2, 1fr);
    display:grid;
}

.bread-top {
    padding-top: 0.5rem;
}
.bread-middle {
    border-top: 2px solid black;
    padding-top: 0.5rem;
}

.col-5,
.col-5-edit,
.col-5-edit-single {
    border-left:2px solid black;
    grid-column: 5;
    grid-row: 1 / span all;
}

.col-5-edit {
    grid-row: 1 / span 5;
    border-bottom: 2px solid black;
}

.col-5-edit-single {
    grid-row: 1 / span 1;
}

.col-3-4 {
    border-bottom:2px solid black;
    grid-column: 3 / span 2;
    grid-row: span all;
}


.sidebar-alt {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.sidebar-format {
    padding-top: 1.6rem;
    padding-left: 1.5rem;
}

.sidebar-weights,
.sidebar-weights-alt {
    border-left: 2px solid black;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.2rem;
}

.sidebar-weights-alt {
    border-bottom: 2px solid black;
    padding-top: 1.3rem;

}

.sidebar-title {
    font-size: 1.2rem;
    padding-top: 1.5rem;
}

.border-left {
    border-left: 2px solid black;
}

.border-top {
    border-top: 2px solid black;
}

.border-bottom {
    border-bottom: 2px solid black;
}

.border-right-bottom {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.border-right-top {
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.description {
    grid-row: 3 / 7;
    grid-column: 5;
}

.description-p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.description-t {
    font-size: 1.2rem;
}


.image-placement {
    grid-row: 2 / 8;
    grid-column: 3;
    border-right: 2px solid black;
}


.step {
    display: none;
    height: 100%;
}

.step:first-child {
    display: block;
}

li {
    margin:0;
}

ul {
    padding-inline-start: 0;
    list-style-type: "+"; 

}






p { margin: 0; }
strong { font-weight: bold; }



