/* ===== ROOT (ONLY GLOBALS) ===== */
:root {
  --blue: rgb(21, 82, 255);
  font-family: "interstate-mono", monospace;
  font-size:1.3rem;
}




/* ===== BASE ===== */

html,
body {
    margin:0;
    padding: 0;
}

.container {
  max-width:100%;
    
}

.header {
    height: 9rem;
    grid-template-columns: 1fr 2fr 3fr 2fr 2fr;
    display: grid;
    gap:0.5rem;
    border-bottom:3px solid black;
}

.title {
    font-weight: bold;
    font-size:1.8rem;
    padding-top: 4.5rem;
}

.subtitle {
    padding-top: 0.5rem;
    font-size: 1rem;
}

.grid {
    display:grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 2fr;
    gap:0.5rem;
    max-height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.breadcrumb {
    list-style: none;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

li {
    margin:0;
}

ul {
    padding-inline-start: 0;

}






p { margin: 0; }
strong { font-weight: bolder; }